header{
  height: 300px;
  border: 5px dashed red;
  color: blue;
}
main{
  min-height: 600px;
  border: 10px dashed indigo;
  color: orangered;
}
footer{
  height: 500px;
  border: 5px dashed black;
  color: crimson;
  
}
h1{
  color: deeppink;
  text-align: center;
}
